body{
 
  font-family: 'montserrat',sans-serif;
  align-items: center;
}

.intro {
  height: 100vh;            
  display: flex;
  justify-content: center; 
  align-items: center;      
  background-color: white;
}
.btn{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
   
}